
.icon-insta:before { content: '\e811'; } /* '' */
.icon-linkedin:before { content: '\e812'; } /* '' */
.icon-youtube:before { content: '\e813'; } /* '' */
.icon-twitter:before { content: '\e815'; } /* '' */
.icon-fb:before { content: '\e816'; } /* '' */
